<!DOCTYPE html>
<html>
    <head>
		<title>Love Calculator</title>
		<link rel="shortcut icon" type="image/png" href="https://image.flaticon.com/icons/svg/1029/1029183.svg">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" integrity="sha256-KyXPF3/VOPPst/NQOzCWr97QMfSfzJLyFT0o5lYJXiQ=" crossorigin="anonymous" />
		<link rel="stylesheet" href="/main.css"> 
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">  -->
		<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> 
	</head>
	
<body>
		<nav class="navbar navbar-light mb-3">
		<div class="container">
			<div class="navbar-header m-2">
				<a class="navbar-brand" href="/">
				<img src="https://image.flaticon.com/icons/svg/2651/2651001.svg" width="40" height="40" 					class="d-inline-block align-top" alt="">
    			Love Calculator
  			 	</a>
			</div>
		<div>
		   <ul class="nav navbar-nav navbar-right m-2">
			   <li><a href="/creator">About The Creator</a></li>
		   </ul>
	    </div>
		</div>
		</nav>

	
	