<%- include ("partials/header") %>

<div class="row justify-content-center text-center mb-2">
	<div class="card mb-3 border-dark " style="max-width: 520px;">
  <div class="row justify-content-center">
    <div class="col-md-6 m-0">
		
      <img src="credit.jpg" class="border border-dark rounded-circle mt-3"style="width:130px;height:130px;" alt="pic">
    </div>
    <div class="m-0 txt-center">
      <div class="card-body mb-3">
        <h5 class="card-title">Deepjyoti Deka</h5>
        <p class="card-text m-3 text-justify" >I’m an Engineering Student and Web Developer with knowledge in front-end as well back-end who’s skilled in Javascript, HTML, CSS, Node.js and Mongoose. I am looking for projects related to web development in a company or in group which will help develop my Coding ,team management and communication skills.</p>
        <p class="card-text"><small class="text-muted">Contact</small></p>
		<div class="social">
			<a href="https://www.facebook.com/deepjyoti.deka.33633" class="ui facebook button"> 
				<i class="facebook icon ml-2"></i>
			</a>
			<a href="https://www.linkedin.com/in/deepjyoti-deka-750816158/" class="ui linkedin button"> 
				<i class="linkedin icon ml-2"></i>
			</a>
			<a href="https://www.instagram.com/node.deepjyoti/" class="ui instagram button"> 
				<i class="instagram icon ml-2"></i>
			</a>
		</div>
		 
      </div>
    </div>
  </div>
</div>
</div>









<%- include ("partials/footer") %>